
# OS
.DS_Store

# Rust
/target/

# Solidity / Foundry
/out/
/broadcast/
/snapshots/
/examples/

# Ignore generated Solidity files at repo root
/*.sol

# Node / JS / TS
/node_modules/
/dist/
/bin/
/npm/dist/
/npm/bin/
*.tgz
*.zip

# Environment files
.env

# Tooling / Frameworks
.vercel/
.vite/
.wrangler/
.wake/
.claude/

# IDEs / Editors
.idea/
.vscode/
.zed/

# Misc
CLAUDE.md
